<div class="col-sm-6 col-md-4 thumbnail-item">
  <div class="thumbnail">
    <a href="#" title="Cho thuê chung cư PCC1 Ba la 55m Giá 5 triệu đầy đủ nội thất">
      <%= image_tag "room1.jpg", class: "cover img-reponsive"%>
    </a>
    <div class="room-item-price">
      <a href="">5,000,000 Đ/tháng</a>
    </div>
    <div class="caption">
      <div class="title">
        <h2><a href="#">Cho thuê nhà nguyên căn 500m, giá 5 triệu đầy đủ nội thất</a></h2>
      </div>
      <div class="extra">
        <div class="pull-left">
          <a href="#"><span class="fa fa-map-marker"></span>Liên Chiểu</a>
        </div>
        <div class="pull-right">
          <a href=""><span class="fa fa-info"></span>500 m<sup>2</sup></a>
        </div>
        <div class="type">
          <a href=""><span class="fa fa-home"></span>Nhà nguyên căn</a>
        </div>
      </div>
    </div>
  </div>
</div>