<%= render "posts/search_box" %>
<div class="container">
  <div>
    <div class="row">
      <div class="col-md-12 room-main-content">
        <div class="tabbable-panel">
          <div class="tabbable-line">
            <div class="menu-tab">
              <div class="menu-tab-title"><a href=""><span>Tin</span> Mới nhất <i class="fa fa-angle-right"></i></a></div>
              <div class="menu-tab-title-right">
                <ul class="nav nav-tabs ">
                  <li class="active">
                    <a href="#tab_type_1" data-toggle="tab">Tất cả</a>
                  </li>
                  <li class="">
                    <a href="#tab_type_2" data-toggle="tab">Phòng trọ, nhà trọ</a>
                  </li>
                  <li class="">
                    <a href="#tab_type_3" data-toggle="tab">Nhà nguyên căn</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_type_1">
                <div class="thumbnail-list">
                  <div class="row block-item">
                    <!-- render items here -->
                    <%= render @posts %>
                  </div>
                </div>
              </div>
            </div>
          </div>                        
        </div>
      </div>
    </div>
  </div>
</div>
<br>