<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 footer-top">
        <div class="row block-footer-2">
          <div class="col-xs-6 col-sm-6 col-md-2">
            <h3>Thông tin liên hệ</h3>
            <p>Tel : 098.8888.888<br>
              <span>Email : support@phongtot.vn</span></p>
              <!-- <img class="img-responsive" src="img/footer-logo.png" alt=""> -->
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2">
              <h3>Hỗ trợ</h3>
              <ul>
                <li><h2><a href="" title="Motivational">Giới thiệu</a></h2></li>
                <li><h2><a href="" title="TED">Điều khoản sử dụng</a></h2></li>
                <li><h2><a href="" title="Trailers Phim">Quảng cáo</a></h2></li>
                <li><h2><a href="" title="Video nhạc">Tính năng ưu điểm</a></h2></li>
              </ul>
              <ul>
              </ul></div>
              <div class="col-xs-6 col-sm-6 col-md-4 footer-about">
                <h3>Về chúng tôi</h3>
                <p>Trang web đăng tin chia sẻ miễn phí thông tin về phòng trọ, nhà riêng, văn phòng nhằm giúp người thuê phòng và người cho thuê phòng tương tác với nhau không qua trung gian môi giới.</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-4 footer-tag">
                <h3>Top từ khóa</h3>
                <p>
                  <a href="http://phongtot.vn/phong-tro-nha-tro">Tìm phòng trọ</a>,
                  <a href="http://phongtot.vn/phong-tro-nha-tro">Tìm nhà trọ</a>,
                  <a href="http://phongtot.vn/phong-tro-nha-tro">Cho thuê nhà trọ</a>,
                  <a href="http://phongtot.vn/phong-tro-nha-tro">Cho thuê phòng trọ</a>,
                  <a href="http://phongtot.vn/nha-nguyen-can">Cho thuê nhà nguyên căn</a>,
                  <a href="http://phongtot.vn/nha-nguyen-can">Thuê nhà nguyên căn</a>,
                  <a href="http://phongtot.vn/nha-nguyen-can">Nhà cho thuê</a>,
                  <a href="http://phongtot.vn/chung-cu-can-ho">Cho thuê chung cư mini</a>,
                  <a href="http://phongtot.vn/o-ghep">Tìm người ở ghép</a>,
                  <a href="http://licham.com" target="_blank" title="Lịch âm">Lịch âm</a>
                </p>
              </div>
            </div>
            <div class="row block-footer-bottom">
              <div class="col-md-12">
                <div class="pull-left">
                  <a href="">Site map</a> /
                  <a href="">Tìm kiếm nâng cao</a> /
                  <a href="">Liên hệ</a>
                  <br>
                  <span>Website đang hoạt động thử nghiệm, chờ xin giấy phép hoạt động của Bộ thông tin và truyền thông.</span><br>
                  <span>© 2016 Static Team. All rights reserved.</span>
                </div>
<!--                 <div class="pull-right">
                  <i class="fa fa-apple"></i>
                  <i class="fa fa-windows"></i>
                  <i class="fa fa-google-plus"></i>
                  <i class="fa fa-facebook"></i>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>