<header id="header" class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-left">
          <%= link_to(image_tag("logo", alt:  "alt text", class: "logo"), root_url) %>
        </div>
        <div class="pull-right">
          <div class="header-top-avatar">
            <%= image_tag "avatar", class: "img-responsive" %>
          </div>
          <div class="header-top-user">
            <div class="user-login"><a class="load_modal_login" href="#tab_auth_login" data-toggle="modal" data-target="#modal_auth">Đăng nhập</a></div>
            <div class="user-register load_modal_register"><a href="javascript: void(0);" data-toggle="modal" data-target="#modal_auth">Tạo tài khoản</a></div>
          </div>
        </div>
        <div class="pull-right">
          <a class="btn btn-submit-room load_modal_login" data-toggle="modal" data-target="#modal_auth" href="javascript: void(0);">Đăng tin miễn phí</a>
        </div>
        <%= render "layouts/nologin_popup" %>
      </div>
    </div>
  </div>
</header>
<div class="clearfix"></div>